@{
    ViewBag.Title = "About";
}



<h2>Zaloguj się</h2>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zaloguj się" class="btn btn-default" />
            </div>
        </div>
    </div>

