@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>System zarządzania biblioteką</h1>
    <p class="lead">Nasz system umożliwia przeglądanie dostępnych książek oraz rezerwowanie ich. Przeglądanie stanu swojego konta w tym aktualnie wypożyczonych książek.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Wyszukaj &raquo;</a></p>
</div>

