@{
    ViewBag.Title = "Search";
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>

    <!-- Hero -->
    <section class="hero container">
        <h2>Wyszukiwanie książki</h2>
        <p>W tym miejscu możesz wpisać tytuł lub autora książki która się interesuje.</p>
        <form class="form-signin">
            <input type="text" class="form-control" placeholder="Wpisz książkę" required autofocus>
        </form>
        <a class="btn btn-alt" href="register.html">Wyszukaj</a>
    </section>
</body>
</html>
