@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Elektroniczna księgarnia</h1>
    <p class="lead">TUTAJ powstanie elektroniczna ksiągarnia</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Więcej info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            TUTAJ powstanie elektroniczna ksiągarnia
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Więcej info  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>TUTAJ powstanie elektroniczna ksiągarnia</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Więcej info  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>TUTAJ powstanie elektroniczna ksiągarnia</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Więcej info  &raquo;</a></p>
    </div>
</div>